/* main styles */
@font-face
{
  font-family: pristina;
  src: url(fonts/pristina.ttf);
}
html, body, div {
  font-family:pristina!important;
}
/*for home screen*/
div#homescreen {
    height: 90%;
    width: 90%;
    position: fixed;
    top: 10%;
    left: 5%;
}
div#homescreen h1 {
    text-align: center;
    font-size: 3em;
}
h3 {
  font-size:1.2em!important;
  letter-spacing:.05em!important;
}
p {
  font-size:1.05em!important;
  letter-spacing:.05em!important;
}
/*start index css*/
#buttons-container {
    position: fixed;
    bottom: 20%;
    width: 90%;
}
.ui-grid-a a >.ui-block-a, .ui-grid-a a >.ui-block-b {
  width: 48%;
}
#abutton, #cbutton, #dbutton, #pbutton {
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center center;
  height: 6em;
}
#abutton {
  background-image:url(../img/about.png);
}
#cbutton {
  background-image:url(../img/conversation.png);
}
#dbutton {
  background-image:url(../img/dictionary.png);
}
#pbutton {
  background-image:url(../img/progress.png);
}
div#about-popup {
  top:15em!important;
  left:1em!important;
  right:1em!important;
}

div#about {
  padding: 2%;
  margin: auto 1em;
}
div#about > h3 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px;
}
div#about > div {
  font-size:1.05em;
  letter-spacing: 0.1em;
  line-height:1.5em;
  margin: 0.5em;
  text-align: justify;
}
/*end index css*/

div[data-role=header] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
}

/* main styles */
div[data-role=header] {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
}

/* lessons/quizzes */
#quiz { overflow: hidden; position: fixed; max-height: 100%; margin-top: 40px;}
#hint { display: none }
.lessons-main { padding: 0px; }
.lessons-main h2 { text-align: center;}

#sentencewritingPanel, #multiplechoicePanel, #continuePanel, #mainMenuPanel {
	display: none;
	background:#000;
	color:#fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#sentencewritingPanel textarea { height: 100%; width: 100%;}

#multimediaPanel {
	background: red;
	padding: 10px;
}

#multimediaPanel .media-container {
	width: 100%;
	background: #c0c0c0;
}

#multimediaPanel video, #multimediaPanel img {
	vertical-align: middle;
}

#multimediaPanel .caption {
	background: #c0c0c0;
	padding: 10px;
	margin-top: 6px;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
}

/* fluid grid for multiple choice and sentence-writing panels */
.my-breakpoint.ui-grid-a .ui-block-a { padding: 7px 5px 0px 5px; }
.my-breakpoint.ui-grid-b .ui-block-a,
.my-breakpoint.ui-grid-b .ui-block-b,
.my-breakpoint.ui-grid-b .ui-block-c { width: 42%; }
.my-breakpoint.ui-grid-b .ui-block-a { clear: left; }
.my-breakpoint.ui-grid-b .ui-block-b {
	text-align: center;
	vertical-align: middle;
	width: 16%;
	padding-top: 20px;
}

.my-breakpoint.ui-grid-a .ui-block-a,
.my-breakpoint.ui-grid-a .ui-block-b { width: 70%; }
.my-breakpoint.ui-grid-a .ui-block-a { clear: left; }
.my-breakpoint.ui-grid-a .ui-block-b {
	text-align: center;
	vertical-align: middle;
	width: 30%;
}

.hint-icon {
	background: url('../img/hint-icon.png');
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
}

/* avatar and facial features */
.avatar {
	background-image: url('../img/avatar.png');
	background-size:100%;
	width: 100%;
	height: 100%;
}

.info {
	background-color: #e8e8e8;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: small;
	font-weight: bold;
	margin: auto;
	margin-top: -40px;
	width: 30%;
	text-align: center;
	display: none;
}

.eyebrows {
	background: url('../img/eyebrows.png');
	display: block;
	margin: auto;
	width: 90px;
	position: relative;
	top: 27%;
	background-size:100%;
	height: 20px;
}

.up { background-position: top center;}
.down { background-position: bottom center;}

.mouth {
	background-image: url('../img/mouth.png');
	background-repeat: no-repeat;
	display: block;
	margin: auto;
	width: 15%;
	height: 5%;
	position: relative;
	top: 41%;
	background-size:100%;
}

.avg-score-star {
	background-size:100%;
	margin: auto;
	width: 200px;
	height: 200px;
}

.avg-score-star-good {
	background-image: url('../img/star-good.png');
}

.avg-score-star-bad {
	background-image: url('../img/star-bad.png');
}

.avg-score-star-medium {
	background-image: url('../img/star-medium.png');
}

.avg-score-star div {
	background-image: url('../img/star-overlay.png');
	background-size:100%;
	width: 200px;
	height: 200px;
	margin-top: 40px;
	text-align: center;
	font-size: 36px;
	color: #fff;
	font-weight: bold;
}

.smile { background-position: top center; }
.frown { background-position: bottom center; }
.talking { background-position: center center; }

/* begin dictionary css */
ul#dictionarylist {
margin: 7em 0em 0em 0em;
}

div.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
margin: 0.5em 1em;
}

.audio{
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214.018px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014.018%2014%22%20style%3D%22enable-background%3Anew%200%200%2014.018%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M1%2C4C0.447%2C4%2C0%2C4.447%2C0%2C5v4c0%2C0.553%2C0.447%2C1%2C1%2C1h1l4%2C4V0L2%2C4H1z%20M10.346%2C7c0-1.699-1.042-3.154-2.546-3.867L6.982%2C4.68%20C7.885%2C5.107%2C8.51%2C5.98%2C8.51%2C7S7.885%2C8.893%2C6.982%2C9.32L7.8%2C10.867C9.304%2C10.154%2C10.346%2C8.699%2C10.346%2C7z%20M9.447%2C0.017L8.618%2C1.586%20C10.723%2C2.584%2C12.182%2C4.621%2C12.182%2C7s-1.459%2C4.416-3.563%2C5.414l0.829%2C1.569c2.707-1.283%2C4.57-3.925%2C4.57-6.983%20S12.154%2C1.3%2C9.447%2C0.017z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

div#notes-popup {
  top:15em!important;
  left:1em!important;
  right:1em!important;
}

div#notes {
  padding: 2%;
  margin: auto 1em;
}
div#notes > h3 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px;
}
div#notes > div {
  font-size:1.05em;
  letter-spacing: 0.1em;
  line-height:1.5em;
  margin: 0.5em;
  text-align: justify;
}
/* end dictionary css */

/* additional jqm icons */
.ui-icon-home:after {
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%227%2C0%200%2C7%202%2C7%202%2C14%205%2C14%205%2C9%209%2C9%209%2C14%2012%2C14%2012%2C7%2014%2C7%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.ui-icon-sort:after {
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M13.621%2C5.904l-1.036-0.259c-0.168-0.042-0.303-0.168-0.355-0.332c-0.092-0.284-0.205-0.559-0.339-0.82%20c-0.079-0.153-0.073-0.337%2C0.017-0.486l0.549-0.915c0.118-0.196%2C0.088-0.448-0.075-0.61l-0.862-0.863%20c-0.162-0.163-0.414-0.193-0.611-0.075l-0.916%2C0.55C9.844%2C2.182%2C9.659%2C2.188%2C9.506%2C2.109C9.244%2C1.975%2C8.97%2C1.861%2C8.686%2C1.77%20c-0.165-0.052-0.29-0.187-0.332-0.354L8.095%2C0.379C8.039%2C0.156%2C7.839%2C0%2C7.609%2C0H6.391c-0.229%2C0-0.43%2C0.156-0.485%2C0.379L5.646%2C1.415%20C5.604%2C1.582%2C5.479%2C1.718%2C5.313%2C1.77c-0.284%2C0.092-0.559%2C0.206-0.82%2C0.34C4.339%2C2.188%2C4.155%2C2.182%2C4.007%2C2.093L3.092%2C1.544%20c-0.196-0.118-0.448-0.087-0.61%2C0.075L1.619%2C2.481C1.457%2C2.644%2C1.426%2C2.896%2C1.544%2C3.093l0.549%2C0.914%20c0.089%2C0.148%2C0.095%2C0.332%2C0.017%2C0.486C1.975%2C4.755%2C1.861%2C5.029%2C1.77%2C5.314c-0.053%2C0.164-0.188%2C0.29-0.354%2C0.332L0.379%2C5.905%20C0.156%2C5.961%2C0%2C6.161%2C0%2C6.391v1.219c0%2C0.229%2C0.156%2C0.43%2C0.379%2C0.485l1.036%2C0.26C1.582%2C8.396%2C1.717%2C8.521%2C1.77%2C8.687%20c0.092%2C0.284%2C0.205%2C0.559%2C0.34%2C0.82C2.188%2C9.66%2C2.182%2C9.844%2C2.093%2C9.993l-0.549%2C0.915c-0.118%2C0.195-0.087%2C0.448%2C0.075%2C0.61%20l0.862%2C0.862c0.162%2C0.163%2C0.414%2C0.193%2C0.61%2C0.075l0.915-0.549c0.148-0.089%2C0.332-0.095%2C0.486-0.017%20c0.262%2C0.135%2C0.536%2C0.248%2C0.82%2C0.34c0.165%2C0.053%2C0.291%2C0.187%2C0.332%2C0.354l0.259%2C1.036C5.96%2C13.844%2C6.16%2C14%2C6.39%2C14h1.22%20c0.229%2C0%2C0.43-0.156%2C0.485-0.379l0.259-1.036c0.042-0.167%2C0.168-0.302%2C0.333-0.354c0.284-0.092%2C0.559-0.205%2C0.82-0.34%20c0.154-0.078%2C0.338-0.072%2C0.486%2C0.017l0.914%2C0.549c0.197%2C0.118%2C0.449%2C0.088%2C0.611-0.074l0.862-0.863%20c0.163-0.162%2C0.193-0.415%2C0.075-0.611l-0.549-0.915c-0.089-0.148-0.096-0.332-0.017-0.485c0.134-0.263%2C0.248-0.536%2C0.339-0.82%20c0.053-0.165%2C0.188-0.291%2C0.355-0.333l1.036-0.259C13.844%2C8.039%2C14%2C7.839%2C14%2C7.609V6.39C14%2C6.16%2C13.844%2C5.96%2C13.621%2C5.904z%20M7%2C10%20c-1.657%2C0-3-1.343-3-3s1.343-3%2C3-3s3%2C1.343%2C3%2C3S8.657%2C10%2C7%2C10z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}