div[data-role=header], #searchBox {
  position:fixed;
  width: 100%;
  z-index:2;
}
div[data-role=header] > #sort {
  right:5px;
}
div#searchBox {
  padding-left: 7.5%;
  background: #e9e9e9;
}
div[data-role=main] {
  margin-top: 2em;
}
div.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
  width: 85%;
}
