.ui-content { padding: 0px; }

#sentencewritingPanel, #multiplechoicePanel {
	display: none;
	background:#000;
	color:#fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#sentencewritingPanel textarea { height: 100%; width: 100%;}

#multimediaPanel {
	background: red;
	padding: 10px;
}

#multimediaPanel .media-container {
	width: 100%;
	background: #c0c0c0;
}

#multimediaPanel video, #multimediaPanel img {
	vertical-align: middle;
}

#multimediaPanel .caption {
	background: #c0c0c0;
	padding: 10px;
	margin-top: 6px;
}

.my-breakpoint.ui-grid-a .ui-block-a { padding: 7px 5px 0px 5px; }
.my-breakpoint.ui-grid-b .ui-block-a,
.my-breakpoint.ui-grid-b .ui-block-b, 
.my-breakpoint.ui-grid-b .ui-block-c { width: 42%; }
.my-breakpoint.ui-grid-b .ui-block-a { clear: left; }

.my-breakpoint.ui-grid-b .ui-block-b {
	text-align: center;
	vertical-align: middle;
	width: 16%;
	padding-top: 20px;
}


.my-breakpoint.ui-grid-a .ui-block-a,
.my-breakpoint.ui-grid-a .ui-block-b { width: 70%; }
.my-breakpoint.ui-grid-a .ui-block-a { clear: left; }
.my-breakpoint.ui-grid-a .ui-block-b {
	text-align: center;
	vertical-align: middle;
	width: 30%;
}

.hint-icon {
	background: url('../img/hint-icon.png');
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
}

.avatar {
	background-image: url('../img/avatar.png');
	background-size:100%;
	width: 100%;
	height: 100%;
}

.eyebrows-up {
	background-color: #fff;
	background: url('../img/eyebrows.png');
	background-position: top center;
	display: block;
	margin: auto;
	width: 90px;
	position: relative;
	top: 90px;
	background-size:100%;
	height: 20px;
}

.eyebrows-down {
	background-color: #c0c0c0;
	background: url('../img/eyebrows.png');
	background-position: bottom center;
	display: block;
	margin: auto;
	width: 90px;
	position: relative;
	top: 90px;
	background-size:100%;
	height: 20px;
}

.mouth-smile {
	background-color: #fff;
	background: url('../img/mouth.png');
	background-position: top center;
	display: block;
	margin: auto;
	width: 60px;
	position: relative;
	top: 135px;
	background-size:100%;
	height: 20px;
}

.mouth-frown {
	background-color: #c0c0c0;
	background: url('../img/mouth.png');
	background-position: bottom center;
	display: block;
	margin: auto;
	width: 60px;
	position: relative;
	top: 135px;
	background-size:100%;
	height: 20px;
}